<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Creative Server - {directory}</title>
		<link rel="stylesheet" href="/browse-panel/styles.css">
		<style>{style}</style>
		<script src="/browse/js/utils.js"></script>
	</head>
	<body>
		<div id="header">
			<h1>Creative Server</h1>
		</div>

		<div class="columns">
			<div id="control">
				<iframe src="/control"></iframe>
			</div>

			<div id="resize"></div>

			<div id="browser">
				<div id="panel">
					<h1><a href="/">~</a>{linked-path}</h1>
					{files}
				</div>
			</div>

		</div>
	</body>
	<script type="text/javascript">
		resizableColumns(
			document.getElementById('control'), 
			document.getElementById('resize')
		);
	</script>
</html>