.backdrop {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.modal {
	position: fixed;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border-radius: 5px;
	min-width: 800px;
	min-height: 400px;
	margin: 0 auto;
	padding: 40px;

	.header {
		margin-bottom: 3px;
	}

	.title {
		font-size: 22px;
		font-weight: bold;
		color: #000;
	}
	.profile-title {
		margin: 18px 0px 1px;

		.name {
			font-size: 28px;
			color: #333;
		}
		.delete {
			margin: 3px 0px 0px 6px;
			font-size: 11px;
			cursor: pointer;
		}
	}

	pre {
		min-width: 300px;
		min-height: 500px;
	}

	.control {
		margin: 10px 0px;
		display: flex;

		.buttons {
			margin: 0pt auto;
			display: inline-block;
		}
	}
}
