.creatives .creative-panel {
	.traffic-control-options {
		display: flex;
		flex-direction: row;
		background: #eee;
		color: #333;
		font-size: 1.2em;
		padding: 2px 10px 3px;
		white-space: nowrap;
		border-bottom: 1px solid #999;		
	}

	.option-button {
		padding: 0px 3px;
	}
	.option-checkbox {
		padding: 2px 3px 0px 10px
	}
}
