.creatives .creative-panel {
	.header-row {
		display: flex;
		flex-direction: row;
		height: 29px;
		background: #555;
		color: #fff;
		font-size: 1.2em;
		font-weight: bold;
		padding: 7px 15px 3px;
		white-space: nowrap;
		border-top: 1px solid #cacaca;
		border-bottom: 1px solid #cacaca;
	}

	.col {
		position: relative;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.build-col {
		flex-grow: 1;
		min-width: 80px;
		width: 30%;
	}
	.debug-col {
		min-width: 80px;
		width: 25%;
		text-align: center;
		overflow: visible;
	}
	.settings-col {
		min-width: 140px;
		width: 45%;
	}
}
