* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	height: 100%;	
	padding: 0;
	font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
	line-height: 16px;
	background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
	background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
	background-repeat: no-repeat;
	color: #555;
	-webkit-font-smoothing: antialiased;
}


.page {
	width: 1000vh;
	padding-top: 53px;
}


.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.clear-after:after {
	display: block;
	content: '';
	clear: both;
}

.title h1 {
	padding: 10px;
	font-size: 1.5em;
	font-weight: bold;
	background: #fff;
	color: #000000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.title h1 a {
	color: #000;
  display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;	
}
.title h1 a:hover {
	color: #666;
}