
.not-watching {
	$size: 12px;
	display: inline-block;
	margin-right: 12px;
	position: relative;
	width: $size;
	height: $size;
	cursor: pointer;

	.icon {
		position: absolute;
		left: 50%;
		top: 50%;
		width: $size;
		height: $size;
		border: #b1afaf solid 1px;
		border-radius: 50% 50%;
		transform: translate(-50%, -50%);
	}
}

.shell {
	display: inline-block;
	cursor: pointer;
}
.action-dialog {
	$bgColor: #222;

	left: 27px;
	position: absolute;
	top: -12px;
	display: none;
	background-color: #222;
	padding: 4px 8px;
	overflow: visible;
	font-weight: bold;
	color: #eee;
	border-radius: 4px;
	z-index: 100;

	&:after {
		position: absolute;
    bottom: -10px;
    left: 8px;
    content: '';
    border: 5px transparent solid;
		border-top: 5px #222 solid;
	}

	&.show {
		display: block;
	}
}

.watching {
	$size: 12px;
	display: inline-block;
	margin-right: 12px;
	position: relative;
	width: $size;
	height: $size;
	cursor: pointer;

	.icon {
		position: absolute;
		left: 50%;
		top: 50%;
		width: $size;
		height: $size;
		background-color: #8acb40;
		border: #8acb40 solid 1px;
		border-radius: 50% 50%;
		transform: translate(-50%, -50%);
	}
}



.error {
	margin-top: 2px;
}

.processing {
	display: inline-block;
	margin-right: 10px;
}