<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Creative Server - {directory}</title>
		<link rel="stylesheet" href="/shared/styles.css">
		<style>{style}</style>
		<script>
		</script>
	</head>
	<body>
		<div id="header">
			<h1>Creative Server</h1>
		</div>

		<div class="columns clear-after">
			<div id="control" class="left">
				<iframe src="/control"></iframe>
			</div>

			<div id="browser" class="left">
				<div id="panel">
					<h1><a href="/">~</a>{linked-path}</h1>
					{files}
				</div>
			</div>

		</div>
	</body>
</html>