header {
	position: fixed;
	display: flex;
	top: 0;
	width: 100vw;
	height: 53px;
	background: #000;
	z-index: 10;

	.logo-container {
		margin: 10px 15px 0px;
	}

	h1 {
		padding: 9px 10px;
		color: #aaa;
		font-size: 24px;
		font-weight: bold;
	}
}
