.header {
	position: fixed;
	display: flex;
	top: 0;
	padding: 0 15px;
	width: 100vw;
	height: 53px;
	background: #000;
	z-index: 10;

	h1 {
		position: relative;
		align-self: center;
		padding: 3px 40px;
		color: #aaa;
		font-size: 24px;
		font-weight: 500;
		background-image: url(/browse/icon_32.png);
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
}