.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 53px;
	background: #000;
	z-index: 10;
	cursor: pointer;

	a:hover,
	a:visited,
	a:link,
	a:active {
		text-decoration: none;
	}

	.logo-container {
		display: inline-block;
		margin: 10px 0px 0px 15px;
		cursor: pointer;
	}

	.app-name {
		padding: 9px 5px 4px 10px;
		color: #aaa;
		font-size: 24px;
		font-weight: bold;
	}

	.version {
		margin-top: 19px;
		font-size: 11px;
		color: #666;
		font-style: italic;
		font-weight: bold;
	}

	.button {
		color: #fff;
		padding: 3px 10px;
		margin: 16px 15px 0px 0px;
		border: 1px solid #666;
		border-radius: 6px;
		color: #999;
		font-weight: bold;
		cursor: pointer;
	}
	.button:hover {
		background-color: #1f1f1f;
		color: #aaa;
	}
}
