header {
	position: fixed;
	display: flex;
	top: 0;
	width: 100vw;
	height: 53px;
	background: #000;
	z-index: 10;
	cursor: pointer;

	.logo-container {
		margin: 10px 0px 0px 15px;
		cursor: pointer;
	}

	.app-name {
		padding: 9px 5px 4px 10px;
		color: #aaa;
		font-size: 24px;
		font-weight: bold;
	}

	.version {
		margin-top: 19px;
		font-size: 11px;
		color: #666;
		font-style: italic;
		font-weight: bold;
	}
}
