.creatives .browse-panel .title {
	.reload {
		margin: 11px 11px 0px;
		cursor: pointer;
	}
	.reload:hover svg {
		color: #666;
		fill: currentColor;
	}
	.open-external {
		margin: 10px 10px 0px;
		cursor: pointer;
	}
	.open-external:hover svg {
		color: #666;
		fill: currentColor;
	}
	h1 {
		padding: 10px;
		font-size: 1.5em;
		font-weight: bold;
		background: #fff;
		color: #aaa;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	h1 a {
		color: #000;
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-decoration: none;
	}
	h1 a:hover {
		color: #666;
	}
}
