<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/directory/styles.css">
	<link rel="stylesheet" href="/control/styles.css">

	<script>
	</script>	
</head>

<body>
	<div id="content">
		<h1><a href=""><%= creativeName; %></a></h1>
		<ul id="files" class="view-details">
			<li class="header">
				<span class="name">Ads</span>
				<span class="size">Compiling</span>
				<span class="date">Deployed</span>
			</li>

			<%
			Object.keys(targets).forEach((size) => {
			%>
			<li>
				<a href="/creative/_assets" class="icon icon-directory" title="_assets">
					<div class="ad-size"><%= size; %></div>
				<%
				targets[size].forEach((index, i) => {	
					var childCss = i < targets[size].length - 1 ? 'next-child' : 'last-child';			
				%>
					<div class="ad-index clear-after">
						<div class="<%= childCss; %> left"></div>
						<div class="left"><%= index; %></div>
					</div>
				<%
				});
				%>
				</a>
			</li>
			<%
			});			
			%>
		</ul>

	</div>
</body>
</html>