
.ad {
	padding: 10px 15px;
	border-bottom: #e0e0e0 solid 1px;
}
.ad-size {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 3px;	
}
.ad-index {
	white-space: nowrap;	
	height: 22px;
}


.hierarchy-grid {
	width: 35px;
	height: 22px;
	display: inline-block;
}

.next-child {
	background-image: url('/control/images/next-child.png');
	background-repeat: no-repeat;
}
.last-child {
	background-image: url('/control/images/last-child.png');
	background-repeat: no-repeat;
}

.not-watching {
	background-image: url('/control/images/not-watching.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 16px;
}
.watching {
	background-image: url('/control/images/watching.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 16px;
}

.column {
	height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;	
	text-align: left;
	white-space: nowrap;
	display: inline-block;
}
.col-vert-nudge {
	overflow: hidden;
	text-overflow: ellipsis;	
	margin-top: 3px;
}
.index-col {
	width: 28%;
}
.watching-col {
	text-align: center;
	width: 25%;
}

.deploy-col {
	width: 3%;
	background-image: url('/control/images/webpack.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 21px;
	height: 21px;
	background-position: 0px -1px;
	margin-right: 5px;
}
.last-deploy-col {
	width: 28%;
}
