.creatives .creative-panel {
	.header-row {
		display: flex;
		flex-direction: row;
		background: #555;
		color: #fff;
		font-weight: bold;
		padding: 5px 15px;
		white-space: nowrap;
	}

	.col {
		position: relative;
		margin-right: 15px;
	}

	.build-col {
		flex-grow: 1;
		min-width: 150px;
	}

	.compile-col {
		min-width: 100px;
		width: 20%;
		text-align: center;
	}

	.deploy-col {
		min-width: 100px;
		width: 30%;
	}
}
