.creatives .creative-panel {
	.header-row {
		display: flex;
		flex-direction: row;
		background: #555;
		color: #fff;
		font-weight: bold;
		padding: 5px 15px;
		white-space: nowrap;
	}

	.col {
		position: relative;
		margin-right: 15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;		
	}

	.build-col {
		flex-grow: 1;
		min-width: 80px;
		width: 28%;
	}
	.compile-col {
		min-width: 100px;
		width: 25%;
		text-align: center;
	}
	.deploy-col {
		min-width: 100px;
		width: 3%;
	}
	.last-deploy-col {
		width: 28%;
	}
}
