.creatives .creative-panel {
	.header-row {
		display: flex;
		flex-direction: row;
		background: #555;
		color: #fff;
		font-size: 1.2em;
		font-weight: bold;
		padding: 5px 15px;
		white-space: nowrap;
		border-top: 1px solid #cacaca;
		border-bottom: 1px solid #cacaca;		
	}

	.col {
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;		
	}

	.build-col {
		flex-grow: 1;
		min-width: 80px;
		width: 30%;
	}
	.compile-col {
		min-width: 80px;
		width: 25%;
		text-align: center;
		overflow: visible;
	}
	.deploy-col {
		min-width: 80px;
		width: 15%;
		text-align: center;
	}
	.last-deploy-col {
		width: 28%;
	}
}
